
@font-face {
  font-family : simple;
  src: url(simple.ttf);
}

@font-face {
  font-family : tilly;
  src: url(tl.otf);
}

@font-face {
  font-family : gtek;
  src: url(gtek.ttf);
}
body{
font-size :1.5em;
font-family: simple;

background: url("../images/one.jpg");
height : 110%;

}
.zero h1{
	font-family : gtek;

}
h1{
	font-size : 2.5em;
	margin-left : 20%;
	font-family: simple;
	margin-bottom : -0.2em;

}
p{

	font-family : tilly;
}
h2{
	font-size : 1.2em;

}
.slides{
	position: absolute;
	width : 100%;
	height : 100%;
	color : white;
	overflow: hidden;

}
.titleSlide{

background : url("../images/bill.jpg");
background-size: 100%;
min-height: 100%:
}
.titleSlide h1{
margin-left : 0%;

}
.two{
	background : url("../images/pranav.jpg");
	background-size: 100%;



}
.two p{
	width : 30%;

}
.two h1{
	margin-left : 0%;
}
.three{
	background : url("../images/elon.jpg");
	background-size: 100%;


}
.three h1{
	margin-left : 50%;
	color : black;

}

.three p{
	margin-left : 50%;

}
.endSlide{
	background : black;
	background-size: 100%;

}

section{

position : absolute;
width : 100%;
height : 100%;
padding : 36px;
box-sizing : border-box;
-moz-box-sizing : border-box;
-webkit-box-sizing : border-box;
visibility: hidden;
color :white;

font-family : arial;

transition: all 1s;
-moz-transition: all 1s;
-webkit-transition: all 1s;
opacity: 1;

	-webkit-transform : translateY(100%);
	-moz-transform : translateY(100%);

}
.titleSlide{
	z-index: 1000;
}

section.active{


visibility: visible;
opacity: 1;

color : white;

-moz-transform:none;
-moz-transition : all 1s;
	-moz-transform : translateY(0%);



}
section.prev{

		-moz-transform : translateX(-100%);
	-webkit-transform : translateX(-100%);

}
section p{
	float : left;
	width : 50%;

}
section img{
	float : right;
	width : 40%;
	margin-top : 1.25em;

}
section.titleSlide , section.endSlide{
	padding-top : 25%;


}

.one{


}

p{
	background : black;
	opacity : 0.5;
	padding : 20px;

}
